body{
  
background-color: #190707;

}

#teste{
height: 10em;
display: flex;
  align-items: center;
  justify-content: center;


}



#painelLogin {
  
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  
background-color: #b3c6ff;
  
color: #190707;
width: 600px;
  
height: 400px;
  
margin: 200px auto;
  
padding: 20px;

}



#painelLogin h1 {
  
color: #D2D2D1:
font-family: Arial, sans-serif;
font-size: 25px;
text-align: center;
}



#painelLogin table {
  


}



#painelLogin table select {
  
width: 200px;

}



#painelLogin tr {
  
height: 35px;

}



#painelLogin table tr td div {
  
float: right;

}



#painelLogin table tr td label {
  
float: right;

}



#painelLogin .campo-texto {
  
border: 1px solid #000;
  background-color: #383838;
  
color: #000000;
  width: 200px;

}



label.error {
  background-color: red;
  color: #FFFFFF;
  margin-left: 5px;
}